@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=UoqMunThenKhung&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Lexend", "UoqMunThenKhung", sans-serif;
    margin: 0;
    padding: 0;
    background: var(--background-color);
    color: var(--text-color);
}

.viewport {
    position: fixed;
    inset: 0;
    overflow: hidden;
}

main {
    will-change: transform;
    backface-visibility: hidden;
}

h1, h2, .title {
    font-family: "Work Sans", "UoqMunThenKhung", sans-serif;
    font-weight: 800;
}

:root {
    --theme-color: #f05454;
    --profile-color: #212121;
    --background-color: #121212;
    --text-color: #f9fafb;
    --link-color: #
}

/* navbar */

nav {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    padding: 12.5px 40px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    margin-left: auto;
    position: relative;
    z-index: 2;
    padding: 0;
}

nav ul li a {
    padding: 5px 10px;
    z-index: 3;
    will-change: transform;
    text-transform: uppercase;
    letter-spacing: 0.005rem;
}

nav div {
  position: fixed;
  top: 0;
  left: 0;
  height: 25px;
  width: 10px;
  background: var(--theme-color);
  border-radius: 8px;
  pointer-events: none;
  will-change: transform, opacity, width, height;
  opacity: 0;
}

#logo {
    width: 45px;
    aspect-ratio: 1;
    fill: var(--text-color);
}
