@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lexend:wght@100..900&family=UoqMunThenKhung&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0&display=block');

body {
    font-family: "DM Sans", "UoqMunThenKhung", sans-serif;
    margin: 0;
    padding: 0;
    background: var(--background-color);
    color: var(--text-color);
    overflow-x: hidden;
}

/* .viewport {
    position: fixed;
    inset: 0;
    overflow: hidden;
} */

main {
    will-change: transform;
    backface-visibility: hidden;
    position: relative;
    top: 70px;
    transition: top .2s ease;
}

h1, h2, .title {
    font-family: "Lexend", "UoqMunThenKhung", sans-serif;
    font-weight: 800;
}

main a {
    color: var(--text-color);
    text-decoration: underline;
    display: inline-block;
    position: relative;
    transform: translateZ(0); 
    transition: color 0.3s ease, transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

@supports (text-decoration: none) {
    main a { text-decoration: none; }
}

main a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: var(--theme-color);
    z-index: -1;
    transform: translate3d(-50%, 0, 0) scaleX(1);
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: transform;
}

main a:hover {
    transform: translateY(-1.5px);
}

main a:hover::after {
    transform: translate3d(-50%, 1.5px, 0) scaleX(0.4);
}

p, h1 {
    margin: 0;
}

:root {
    --theme-color: #f05454;
    --profile-color: #212121;
    --background-color: #121212;
    --text-color: #f9fafb;
    --dimmed-color: #a5a5a5;
}

/* navbar */

nav {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 100;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    padding: 12.5px 40px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    transition: height 0.3s ease;
}

nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    margin-left: auto;
    position: relative;
    z-index: 2;
    padding: 0;
    transition: opacity 0.3s ease;
    will-change: opacity;
}

nav ul li a {
    padding: 5px 10px;
    z-index: 3;
    will-change: transform;
    text-transform: uppercase;
    letter-spacing: 0.005rem;
    font-family: "Lexend", sans-serif;
}

nav ul div {
  position: fixed;
  top: 0;
  left: 0;
  height: 25px;
  width: 10px;
  background: var(--theme-color);
  border-radius: 8px;
  pointer-events: none;
  will-change: transform, opacity, width, height;
  opacity: 0;
}

nav ul#small {
    display: none;
    gap: 10px;
}

#logo {
    width: 45px;
    aspect-ratio: 1;
    fill: var(--text-color);
    transition: opacity 0.12s ease, width 0.3s ease;
}

.st0, .st2, .st3 {
    opacity: 0;
    stroke-dasharray: 650;
    stroke-dashoffset: 650;
}

.animate .st0, .animate .st2, .animate .st3 {
    opacity: 1;
    animation: logo-animation 0.8s cubic-bezier(0.66, 0, 0.34, 1) forwards;
}

.animate .st6 .st2 { animation-delay: 0s; }
.animate .st4 .st3 { animation-delay: 0.1s; }
.animate .st7 .st2 { animation-delay: 0.2s; }
.animate .st5 .st0 { animation-delay: 0.3s; }

@keyframes logo-animation {
    from {
        stroke-dashoffset: 650;
        opacity: 0;
    }
    to {
        stroke-dashoffset: 0;
        opacity: 1;
    }
}
