main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  top: 0;
}

nav {
  transform: translateY(-70px);
  transition: transform 0.5s ease;
}

#onload {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  & #logo {
    display: none;
    position: absolute;
    width: clamp(60px, 20vh, 70px);
    opacity: 0;
    transition:
      transform 1s ease,
      opacity 1s ease;

    & .st2,
    & .st3,
    & .st0 {
      stroke-width: 0;
      transition: stroke-width 0.5s ease;
    }

    &.animate {
      display: inline;
      transform: scale(1.2);
      opacity: 1;

      & .st2,
      & .st3,
      & .st0 {
        stroke-width: 70px;
      }
    }
  }

  & p {
    font-size: clamp(30px, 10vw, 100px);
    font-family: 'Lexend', sans-serif;
    font-weight: bold;
    position: absolute;

    & span {
      opacity: 0;
      transition: opacity 1s ease;
      display: inline-block;

      &#dot {
        display: inline-block;
        opacity: 0;
        margin: 0;
        padding: 0;
        transition: none;
        position: relative;

        &.fold {
          transform: translate(-25px, 0) scale(0.5);
          filter: blur(2px);
          opacity: 0;
        }
      }
    }
  }

  & #intro {
    position: relative;

    & #name {
      opacity: 1;

      span {
        color: inherit;
        transition:
          opacity 1s ease,
          color 0.3s ease;
      }
    }
  }
}
