@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lexend:wght@100..900&family=UoqMunThenKhung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0&display=block');

body {
  font-family: 'DM Sans', 'UoqMunThenKhung', sans-serif;
  margin: 0;
  padding: 0;
  background: var(--background-color);
  color: var(--text-color);
  overflow-x: hidden;
}

main {
  will-change: transform;
  backface-visibility: hidden;
  position: relative;
  top: 70px;
  transition:
    top 0.2s ease,
    filter 0.3s ease;

  & a {
    color: var(--text-color);
    text-decoration: underline;
    display: inline-block;
    position: relative;
    transform: translateZ(0);
    transition:
      color 0.3s ease,
      transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 50%;
      background-color: var(--theme-color);
      z-index: -1;
      transform: translate3d(-50%, 0, 0) scaleX(1);
      transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      will-change: transform;
    }

    &:hover {
      transform: translateY(-1.5px);

      &::after {
        transform: translate3d(-50%, 1.5px, 0) scaleX(0.4);
      }
    }
  }
}

h1,
h2,
.title {
  font-family: 'Lexend', 'UoqMunThenKhung', sans-serif;
  font-weight: 800;
}

@supports (text-decoration: none) {
  main a {
    text-decoration: none;
  }
}

p,
h1 {
  margin: 0;
}

:root {
  --theme-color: #f05454;
  --profile-color: #212121;
  --background-color: #121212;
  --text-color: #f9fafb;
  --dimmed-color: #a5a5a5;
}

/* navbar */

nav {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  z-index: 100;
  backdrop-filter: blur(6px);
  padding: 12.5px 40px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  transition:
    height 0.3s ease,
    backdrop-filter 0.28s ease;

  & a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
  }

  & ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    margin-left: auto;
    position: relative;
    z-index: 2;
    padding: 0;
    transition: opacity 0.3s ease;
    will-change: opacity;

    & li a {
      padding: 5px 10px;
      z-index: 3;
      will-change: transform;
      text-transform: uppercase;
      letter-spacing: 0.005rem;
      font-family: 'Lexend', sans-serif;
    }

    & div {
      position: fixed;
      top: 0;
      left: 0;
      height: 25px;
      width: 10px;
      background: var(--theme-color);
      border-radius: 8px;
      pointer-events: none;
      will-change: transform, opacity, width, height;
      opacity: 0;
    }
  }

  & ul#small {
    display: none;
    gap: 10px;
  }
}

#logo {
  aspect-ratio: 1;
  fill: var(--text-color);

  & .st0,
  & .st1,
  & .st2,
  & .st3 {
    fill: none;
  }

  & .st0,
  & .st2,
  & .st3 {
    stroke: #fff;
    stroke-miterlimit: 10;
  }

  & .st0 {
    stroke-width: 70px;
  }

  & .st2 {
    stroke-width: 55px;
  }

  & .st3 {
    stroke-width: 67px;
  }

  & .st4 {
    clip-path: url('#clippath-1');
  }

  & .st5 {
    clip-path: url('#clippath-3');
  }

  & .st6 {
    clip-path: url('#clippath-2');
  }

  & .st7 {
    clip-path: url('#clippath');
  }
}

/* navbar logo animation */

a #logo {
  width: 45px;
  transition:
    opacity 0.12s ease,
    width 0.3s ease;

  & .st0,
  & .st2,
  & .st3 {
    opacity: 0;
    stroke-dasharray: 650;
    stroke-dashoffset: 650;
  }

  &.animate {
    & .st0,
    & .st2,
    & .st3 {
      opacity: 1;
      animation: logo-animation 0.8s cubic-bezier(0.66, 0, 0.34, 1) forwards;
    }

    & .st6 .st2 {
      animation-delay: 0s;
    }

    & .st4 .st3 {
      animation-delay: 0.1s;
    }

    & .st7 .st2 {
      animation-delay: 0.2s;
    }

    & .st5 .st0 {
      animation-delay: 0.3s;
    }
  }
}

@keyframes logo-animation {
  from {
    stroke-dashoffset: 650;
    opacity: 0;
  }

  to {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}

#menu-button {
  display: none;
  margin-left: auto;
  width: 45px;
  aspect-ratio: 1;
  background-color: transparent;
  border: none;
  color: var(--text-color);
  z-index: 10;
  transition:
    opacity 0.15s ease,
    width 0.3s ease;
}

#mobile-menu {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #2121216e;
  z-index: -1;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition:
    visibility 0.3s ease,
    opacity 0.3s ease;
}

/* mobile navbar */

@media screen and (width <= 480px) {
  nav {
    padding: 15px;

    & ul:not(#mobile) {
      display: none;
    }
  }

  #menu-button {
    display: block;
  }

  ul#mobile {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;

    & li a {
      transform: translateY(10px) rotateX(-45deg);
      opacity: 0;
      z-index: 10;
      padding: 0;
      transition:
        opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: var(--theme-color);
        z-index: 1;
        transform: translateY(3px);
        transition:
          transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
          opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        will-change: transform;
        opacity: 0;
      }

      &:focus::after,
      &:active::after {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
}
