.code {
    font-family:'Consolas', sans-serif;
}

@keyframes text-cursor {
    0% {
        border-right: 1.5px #000 solid;
    }
    50% {
        border-right: 1.5px transparent solid;
    }
    100% {
        border-right: 1.5px #000 solid;
    }
}

#hello-world {
    position: absolute;
    margin-left: 5px;
    height: 20px;
    border-right: 1.5px #000 solid;
    animation: text-cursor 1s infinite step-end;
}
