body {
    font-family: "Lexend", "UoqMunThenKhung", sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

h1, h2, .title {
    font-family: "Work Sans", "UoqMunThenKhung", sans-serif;
    font-weight: 800;
}
