body {
    font-family: "Lato", sans-serif;
    color: #fff;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#large-hyderite {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 10px;
    font-weight: bold;
    transition: font-size .75s, transform .75s;
}